:root{
	--my-font-size: 20px;
	--my-font-weight: 600;
	--my-font-color: #EC2436;
	--colorPrimary: #EC2436;
	--lightGrey: #F8F8F8;
    --Grey: #E8E7E7;
    --font: 'Cambay', sans-serif;
    --line-height-primary: 32px;
    --line-height-secondary: 24px;
}

*{margin: 0;padding: 0;box-sizing: border-box;}
html,body,input,select,div,a,strong,textarea{
    font-family: var(--font);
}
body{color: #000;background-color: #fff;margin:0;padding:0;font-size: 14px;}
h1,h2,h3,h4,h5,h6,p{color: #000}
.fontFeatured{font-size: 1.3rem;}
.uk-sidebar{width: 315px;}

/* Custom icons using sprite */
.abp_icon,.abp_icon_tr{
    position: relative;
}
.abp_icon:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 32px;
    background-image: url(../images/sprite.png?v=1.0.3);
    background-repeat: no-repeat;
    background-size: 633px 165px;
    z-index: 1;
}
.abp_icon_tr:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 32px;
    background-image: url(../images/sprite_tr.png?v=1.0.3);
    background-repeat: no-repeat;
    background-size: 633px 165px;
    z-index: 1;
}
.abp_livetv_on:after{background-position: -475px -5px;top:-4px;}
.abp_news:after{background-position: -355px -6px;top:-4px;width: 31px;height: 25px;}
.abp_photos:after{background-position: -433px -49px;top:-2px;width: 31px;height: 25px;}

.abp_mancha:after{background-position: -299px -87px;top:-9px;width: 35px;height: 35px;}
.abp_mancha:after{background-position: -299px -87px;top:-9px;width: 35px;height: 35px;}
.abp_fb:after{background-position: -296px -47px;width: 35px;height:35px;}
.abp_fb_tr:after{background-position: -294px -30px;width: 34px;height:34px;}
.abp_twitter:after{background-position:-330px -47px;width: 35px;height:35px;}
.abp_twitter_tr:after{background-position:-330px -47px;width: 35px;height:35px;}
.abp_wa:after{background-position:-361px -41px;width: 35px;height:35px;}
.abp_wa_tr:after{background-position:-361px -41px;width: 35px;height:35px;}

.abp_bell:after{background-position:-440px -9px;width: 35px;height:35px;}
.abp_notifications:after{background-position:-329px -134px;width:15px;height:20px;}
.abp_play:after{background-position:-372px -134px;width:15px;height:20px;top: 3px;z-index: 0;}
.abp_article_arrow_left{position: absolute;left: -37px;top:28px;}
.abp_article_arrow_right{position: absolute;right: 35px;top: 15px;}
.abp_article_arrow:after{background-position:-450px -91px;width:75px;height:75px;}
/* Common */
.uk-dark,
.uk-dark *{
    color: #444;
}
.uk-card{
    border-radius: 6px;
    background: #FFF;
}
.uk-border-bottom{
    border-bottom: 2px solid var(--colorPrimary);
}
.bb-smoke{
    border-bottom: 1px solid var(--Grey);
}
.uk-border-rounded-medium{
    border-radius: 6px;
}
.uk-border-rounded-normal{border-radius:8px;}
.uk-border-rounded-remove-top{border-top-left-radius:0px!important;border-top-right-radius:0px!important;}
.uk-border-rounded-remove-bottom{border-bottom-left-radius:0px!important;border-bottom-right-radius:0px!important;}

.uk-border-rounded-top{
    border-radius: 6px 6px 0 0;   
}
.uk-border-remove{border:none!important;}
.uk-background-muted{
    background: #E8E7E7;
}
.uk-background-muted-light{
    background: var(--lightGrey);
}
.uk-text-smaller{
    font-size: 0.7rem;
}
.uk-padding-smaller{
    padding: 5px;
}
.uk-grid.uk-grid-smaller{
    margin-left: -10px;
}
.uk-grid-smaller>*{
    padding-left: 10px;
}
.p-10{
    padding: 10px;
}
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pl-10{
    padding-left: 10px;
}
.pl-15{
    padding-left: 15px;
}
.pr-10{
    padding-right: 10px;
}
.pr-15{
    padding-right: 15px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-12{
    padding-bottom: 12px;
}
.pb-15{
    padding-bottom: 15px;
}
.fz16{
    font-size: 16px !important;
    line-height: 20px !important;
}
.fz18{
    font-size: 18px !important;
    line-height: 24px !important;
}
.fz20{
    font-size: 20px !important;
    line-height: 26px !important;
}
.fz22{
    font-size: 22px !important;
    line-height: 30px !important;
}
.fz24{
    font-size: 24px !important;
    line-height: 32px !important;
}
.fz26{
    font-size: 26px !important;
    line-height: 36px !important;
}
.fz32{
    font-size: 32px !important;
    line-height:50px !important;
}


.pd-left-30{padding-left: 30px;}
.pd-left-40{padding-left: 40px;}
.uk-text-semibold{
    font-weight: 600;
}
.uk-line-ht-primary{line-height: var(--line-height-primary)}
.uk-line-ht-secondary{line-height: var(--line-height-secondary)}
.star {
	position: relative;
    visibility:hidden;
    font-size:20px;
    cursor:pointer;
}
.star:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
   top: -4px;
   left: -2px;
}
.star:checked:before {
   content: "\2605";
   position: absolute;
   top: -4px;
   left: -2px;
   color: var(--colorPrimary)
}

.uk-ribbon{
    height: 3px;
    /*background: var(--colorPrimary);*/
    margin: 0 0 10px 0;
    font-size: 0.85rem;
    text-align: center;
}
.uk-ribbon span{
    display: inline-block;
    vertical-align: middle;
    padding: 8px 8px 3px 8px;
    margin-top: -17px;
    font-weight: bold;
    text-transform: uppercase;
}
.uk-ribbon .high{
    color: #FFF;
    background: var(--colorPrimary);
    border: 1px solid var(--colorPrimary);
    border-radius: 6px 0 0 6px;
}
.uk-ribbon .low{
    color: var(--colorPrimary);
    margin-left: -2px;
    background: #FFF;
    border-radius: 0 6px 6px 0;
    border: 1px solid var(--colorPrimary);
}

.box-shadow-remove{box-shadow: none!important;}
.box-shadow{
    box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3);
}
.box-shadow-medium{
    box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.3);
}
.box-shadow-large{
    box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.5);
}

.live-label{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--colorPrimary);
    font-size: 0.85rem;
    margin: 0 10px 5px 5px;
    font-weight: bold;
}
.live-label:before{
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--colorPrimary);
    z-index: 1;
}
.live-label:after{
    content: '';
    position: absolute;
    top: 4px;
    left: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 0;
    background: #FFF;
    border: 1px solid var(--colorPrimary);
    opacity: 0.5;
    transform: scale(1);
    -webkit-animation: ping 1.5s ease-in-out infinite both;
    animation: ping 1.5s ease-in-out infinite both;
}

.pingAnimation {
    -webkit-animation: ping 1.5s ease-in-out infinite both;
    animation: ping 1.5s ease-in-out infinite both;
}
.live-label:before{
    width: 14px;
    height: 14px;
}
.live-label.live-large:after{
    top: -2px;
    left: -4px;
    width: 20px;
    height: 20px;
}
.live-label.live-large{
    color: #333;
    font-size: 0.7rem;
}

.switch{
    background: transparent;
    border: none;
    font-size: 0.8rem;
}

.play-icon{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    color: var(--colorPrimary);
}
/**
 * ----------------------------------------
 * animation ping
 * ----------------------------------------
 */
@-webkit-keyframes ping {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes ping {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.uk-alert-border{
    border: 0.1rem solid var(--colorPrimary);
    border-radius: 6px;
}

.red-label{
    color: var(--colorPrimary);
}

/* End of common classes */
.header:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50%;
	width: 100%;
	background: var(--colorPrimary);
	z-index: 0;
}
.custom_menu,
.custom_menuitems{
	position: relative;
	z-index: 1;
}
.header-logo{z-index: 2; padding: 5px; width: 65px;}
.header-logo img{
	width: 55px;
	height: auto;
}
.header-search svg path{
	stroke-width: 2.5;
}
.header-search  i.uk-navbar-toggle{
	color:#fff!important;
}
.header-search .uk-search-input{border:none;outline: none;color: #fff!important;font-size:var(--my-font-size)!important;}
.custom_container{width:94%;margin:0 auto;}
.custom_container_small{width:90%;margin:0 auto;}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff!important;
  opacity: 1; /* Firefox */
}
.uk-search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff!important;
}
.uk-search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff!important;
}
.uk-sidebar .other_news .uk-width-3-5 a{
    display: block;
    height: 80px;
    overflow: hidden;
}
.headAd{padding: 20px 0;}
.breadcrumbs{font-size: var(--my-font-size);font-weight:var(--my-font-weight);}
.new_section{margin-top:2.3%!important;}.margEight{margin-top: 8%!important;}.margFive{margin-top:5%!important;}
.header_shadow{box-shadow: 1px 1px 6px rgba(0,0,0,0.3)}
.live-tv-label:before,.red-blob-label:before,.search-blob-label:before,.search-blob-label.active:before{
	content: '';position: relative;bottom: 2px;display: inline-block;vertical-align: middle;margin-right: 10px;border-radius: 50%;}
.live-tv-label:before{width:15px;height:15px;background: var(--my-font-color);}
.red-blob-label:before{width:15px;height:15px;background: #ff727f;border:3px solid;}
.search-blob-label:before{width:10px;height:10px;background: #fff;border:2px solid #aaa;}
.search-blob-label.active:before{width:10px;height:10px;background: var(--my-font-color);border:2px solid #aaa;}
.vid_thumbnail{position: absolute;top:0;z-index:0;width: 100%;top: 39%;cursor: pointer;}
.uk-dropdown{padding:15px 15px 0 15px!important;min-width: 160px!important;}
.quote_right{color: var(--my-font-color);position: relative;bottom: 4px;}

.custom_menu_lang a{font-size: 0.75rem;margin-right: 5px;color:#fff;}
.custom_menu_live a{margin-right: 15px;color:#fff;text-decoration: none;}
.custom_menu_live i{font-size: 20px;}
.custom_menu_social a{color:#fff !important;text-decoration: none;}
.custom_menu_social a i{margin-right: 12px;}
.custom_menuitems{background-color: #fff;padding: 1%;}
.custom_menuitems{text-align: center;}
.custom_menuitems ul{padding-left: 0;list-style: none;margin:0;}
.custom_menuitems ul li{display: inline;margin-right: 20px;}
.custom_menuitems ul li a{color: #000;font-weight:var(--my-font-weight);padding-bottom: 2px;text-decoration: none;}
.custom_menuitems ul li.active a,.custom_menuitems ul li a:hover{color: var(--my-font-color);border-bottom: 2px solid var(--my-font-color);}
.other_menu ul{padding-left: 0;text-align:left;}
.other_menu ul li{display: block!important;border-bottom: 2px solid #f9f9f9;padding:10px;}
.other_menu a{font-weight:var(--my-font-weight);text-transform: uppercase!important;}
.other_menu a i{position: relative;top: 2px;}
.content{margin-top: 20px;}
.section_title{overflow: auto;}
.section_title h2{font-size: 27px;color:var(--my-font-color);text-transform:uppercase;font-weight: bold;float: left; line-height: 1.4; margin: 0 0 10px 0;}
.section_title a{float: right;background: #fff;border: 1px solid #ccc;text-decoration: none;color: #000;font-weight: bold;padding: 3px 5px;border-radius: 5px;position: relative;top: 3px;font-size: 12px;}
.section_title a svg{position: relative;bottom: 2px;}
.section_title hr{float: left;width: 78%;margin-left: 10px;position: relative;bottom: 4px;border-width:2px;border-color: var(--my-font-color);}
.floated_section_title{overflow: auto;position: relative;}
.floated_section_title .after_div:after{content: "";background-color: var(--my-font-color);
    width: 100%;position: absolute;height: 2px;left: 0;bottom: 30px;}
.floated_section_title .after_div h2{line-height: 1.4;float: left;z-index: 10;position: relative;background-color: #fff;padding-right: 10px;margin-top: 0;font-size:27px;color:var(--my-font-color);text-transform:uppercase;font-weight: bold;}
.floated_section_title svg{position: relative;bottom: 2px;}
.floated_section_title .after_div h6{float:right;z-index: 10;position: relative;background-color: #fff;padding-left: 10px;margin-top: 0;top: 8px;}
.floated_section_title .after_div h6 a{background: #fff;border: 1px solid #ccc;text-decoration: none;color: #000;font-weight: bold;padding: 3px 5px;border-radius: 5px;}
.floated_section_title .see_more_section:after{content: "";
    background-color: var(--my-font-color);width: 100%;position: absolute;height: 2px;left: 0;bottom: 24px;}
.floated_section_title .see_more_section h6{position: relative;text-align: center;z-index:10;width: 16%;margin-left:42%;background: #fff;}
.floated_section_title .see_more_section h6 a{color: var(--my-font-color);border:1px solid var(--my-font-color);padding: 5px 14px;border-radius:6px;top: 6px;position: relative;font-weight:var(--my-font-weight);}
.floated_section_title .read_more_section:after{content: "";
    background-color: #888;width: 100%;position: absolute;height: 2px;left: 0;bottom: 24px;}
.floated_section_title .read_more_section h6{position: relative;text-align: center;z-index:10;width: 16%;margin-left:42%;background: #fff;}
.floated_section_title .read_more_section h6 a{color: #888;border:1px solid #888;padding: 5px 14px;border-radius:6px;top: 6px;position: relative;font-weight:var(--my-font-weight);}
.slider{margin-top: 2%;}
.slider a{color: #fff!important;}.slider a svg{width:32px;height:32px;}
.slider .slider-panel{border-radius: 8px;position: relative;box-shadow: 1px 1px 6px rgba(0,0,0,0.3);border-radius: 8px;}
.slider .slider-panel p{font-size: var(--my-font-size);padding:10px 10px 5px 11px;margin-top: 0;color:#000;}
.slider .slider-panel img{border-top-left-radius: 8px;border-top-right-radius: 8px;border-bottom: 2px solid var(--my-font-color);}
.news_featured{position: relative;box-shadow: 1px 1px 6px rgba(0,0,0,0.3);border-radius: 8px;}
.news_featured img{border-bottom: 3px solid var(--my-font-color);border-top-left-radius: 8px;border-top-right-radius: 8px;object-fit: cover;}
.news_featured a{text-decoration: none;color: #000!important;}
.news_featured p{margin:0 auto;padding:8px 10px 5px 11px;font-size: var(--my-font-size);line-height:26px;}
.news_featured p:hover{color:#000;}
.news_featured h1,.news_featured h2{line-height:var(--line-height-primary);padding:7px 15px 10px 15px;}
.news_featured span,.news_featured i{color: var(--my-font-color);font-weight: bold;}
.news_extra p{border-top: 3px solid #eee;}
.news_content{background-color: #fff;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}
.news_content .photos_icon{width:20px;height: 20px;border-radius: 0;}
.news_content .photos_no{color: #000!important;}
.news_content .uk-h4{font-size: 1rem}
.other_news{margin-top: 20px;box-shadow: 1px 1px 6px rgba(0,0,0,0.3);border-radius: 8px;background-color: #fff;}
.other_news a{text-decoration: none;color: #000;}
.other_news p{padding:5px 15px 0 15px;font-size: var(--my-font-size);line-height:26px;}
.other_news img{position: relative;border-top-right-radius: 8px;border-bottom-right-radius: 8px;width:100%;object-fit: cover;left: 1px;}
.other_news .other_news_img{padding-left:0;}
.other_news .profile_img{position: relative;left: 20px;bottom: 10px;}
.other_news .profile_img img{width: 23px;height: 23px;border:1px solid var(--my-font-color);border-radius: 23px;}
.bgColor{background-color: #eee;padding:2.3% 0;}
.cricket_others .other_news:first-child{margin-top: 0;}
.popular_tv_shows img{border-radius: 8px;}
.popular_tv_shows p{position: absolute;bottom: 15%;z-index: 10;color: #fff;font-size: var(--my-font-size);font-weight: bold;padding-left: 10px;}
.populartv_icon{text-align: center;width: 100%;bottom: 10px;position: relative;cursor: pointer;}
.populartv_icon span{display: inline-block;vertical-align: middle;background: #fff;border-radius: 50%;padding: 6px 10px 8px 10px;border: 2px solid #bbb;}
.populartv_icon span i{color: #999;}
.populartv_icon span i.active{color:var(--my-font-color);}
.movie_rev{padding-bottom: 20px;}
.movie_rev .movie_stars{overflow: hidden;}
.movie_rev .movie_stars p{float: left;width: 50%;font-size: 14px;padding:0;}
.movie_rev .movie_stars img{float: right;width: 40%;border:none;}
.movie_rev p{padding:0;}
.footer{background-color: #222;color:#fff;padding:2% 3.2%;margin-bottom: 10px;}
.footer .footer_1_left a{text-decoration: none;background: #404040;padding:4px 12px;border-radius: 20px;margin-right: 8px;color: #eee;}
.footer .footer_1_left a.active , .footer .footer_1_left a:hover{background-color: #C20503;}
.footer_1_right div{float: right;}
.footer_1_right div a{margin-right: 9px;text-decoration: none;color: inherit;}
.footer_2_left a{margin-right: 12px;text-decoration: none;color: inherit;}
.footer_2_right .app_head{margin-bottom:4px;}
.footer_3 h5{color: #888;font-weight: bold;}
.footer3_section{overflow:hidden;}
.footer3_section .footer3_div{float: left;margin-right: 23px;}
.footer3_section .footer3_div a:first-child{margin-bottom:4px;font-size: 15px;text-decoration:none;color: inherit;}
.footer3_section .footer3_div a:last-child{margin:0px;color: #aaa;text-decoration: none;}
.footer_4_left .footer_menu a{margin-right: 12px;text-decoration: none;color: inherit;}
.footer_4_left .copyright{color: #aaa;line-height: 2em;}
.footer hr{border-color:#404040;}

.social-icons{
	margin: 0;
	padding: 0;
	list-style: none;
}
.social-icons li{
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
}
.social-icons li:first-child{margin-left: 12px;}
/*---------------------article section page css--------------------------------*/
.article_img{width: 100%;height: auto;background-size: cover;background-position: center;background-repeat: no-repeat;}
.article_gradient{background-color:rgba(255,255,255,0.45);padding:3% 0;position: relative;}
.sub_menu{text-align: center;}
.sub_menu ul{list-style: none;}
.sub_menu ul li{display: inline;}
.sub_menu ul li a{text-decoration:none;color: #000;font-weight:var(--my-font-weight);font-size:var(--my-font-size);text-transform: uppercase;margin-right: 19px;}
.sub_menu ul li.active a , .sub_menu ul li a:hover{color: var(--my-font-color);border-bottom: 2px solid var(--my-font-color);padding-bottom: 2px;}
.article_cat{position: absolute;top: 0;left:0;z-index: 10}
.article_cat h1{font-weight: bold;text-transform: uppercase;font-size: 40px;position: relative;top: -12px;}
.news_featured_article .news_featured:last-child{margin-top: 20px;}
.play_btn_div{z-index: 1;}
.news_featured .play_btn_div{position: absolute;width: 100%;text-align: center;top:32%;z-index: 0;}
.play_btn_div img{border-bottom: none;width:34px;height: 34px;cursor: pointer;}
.play_btn_div_small{width: 24px!important;height: 24px!important;}
.play_btn_div_reg{width:55px!important;height:55px!important;}
.play_btn_div_big{width: 98px!important;height: 98px!important;}
.other_news .play_btn_div{position: absolute;right:4px;top:4px;}
.other_news .watch_now{color: var(--my-font-color);position:relative;bottom: 10px;cursor: pointer;}
/*-------------------------------News LP----------------------------------*/
.video_section{box-shadow: 1px 1px 6px rgba(0,0,0,0.3);border-radius: 8px;}
.video_section video{border-top-left-radius: 8px;border-top-right-radius:8px;outline: none;object-fit: fill;height: 500px;}
.video_section .video_content{padding: 3%;font-size: var(--my-font-size);}
.video_section .video_content h2{font-size: 32px;font-weight: bold;}
.video_section .video_content .video_content_details{margin-top: 0;color:#777;font-weight: normal;float: left;}
.video_section .video_content .video_content_social{float: right;position: relative;bottom: 7px;}
.video_section .video_content .video_content_social a:last-child{border:1px solid var(--my-font-color);border-radius: 5px;padding:6px 12px;color: var(--my-font-color);font-size: 12px;text-decoration: none;}
.video_section .video_content .video_content_social span{margin-right:40px;}
.news_section_1{margin-top: 3%;}
.my_profile .section_title h2,.my_profile select{position: relative;margin-top:10%;}
.my_profile select{width:100%;border-radius:8px;outline: none;border:1px solid #aaa;padding:2px;}
.my_profile img{vertical-align:middle;border-radius:80px;width:80px;height:80px;}
.my_details{padding-left: 20px;}
.my_details a {color: var(--my-font-color);text-decoration: none;}
/*------------------------------------Article Page---------------------------------------*/
.article_content h1{font-weight:bold;font-size: 32px;border-bottom: 3px solid var(--my-font-color);padding-bottom: 3%;}
.article_content p{margin:0;font-size: var(--my-font-size);line-height: 2em;}
.article_content p:first-child{margin-bottom: 0px;}
.article_content p i{color: var(--my-font-color);font-size: 14px;position: relative;bottom: 2px;}
.article_author{text-transform: uppercase;margin-bottom: 10px;}
.article_author span{color: #777;;font-weight: normal;}
.article_data p{font-size: var(--my-font-size);margin-top: 5%;}
.article_data p span{font-weight: bold;}
.fresh_videos .news_featured:not(:first-child){margin-top: 15px;}
.article_block_quote{border-left: 7px solid var(--my-font-color);padding-left: 23px;width: 90%;margin:0 auto;}
.article_block_quote i{font-size: 12px;color: var(--my-font-color);position: relative;bottom: 9px;}
.article_featured1_question{background: #EDEDED;border-radius: 8px;font-size:var(--my-font-size);margin-bottom: 5%;padding: 5% 7%;}
.article_padding{padding:0.8%;}
.article_featured2{width: 80%;margin:7% auto;}
.article_featured1 p,.article_featured2 p{font-size:var(--my-font-size);}
.form_section{padding:15px 15px 6px 10px;}
.form_section .form_radioBtn{border:2px solid #f0f0f0;border-radius: 8px;}
.form_section .form_radioInput{font-size:  var(--my-font-size);border-bottom:2px solid #f0f0f0;padding:10px;}
.form_section  .form_submit{text-align: center;}
.form_section  .form_submit input{background: var(--my-font-color);color: #fff;padding:4px 14px;border:1px solid var(--my-font-color);border-radius: 4px;font-size: 18px;cursor: pointer;outline: none;}
.form_section .num_votes span{color: #777!important;font-weight: normal;}
.comments_section{border:1px solid #eee;border-radius: 8px;padding: 20px;}
.comments_section .comments_block{overflow: auto;}
.comments_section .comments_block:not(:last-child) .prof_comment{border-bottom: 2px solid #eee;}
.comments_section .prof_img{float: left;width:8%;}
.comments_section .prof_img img{vertical-align:middle;border:1px solid #ccc;border-radius: 50px;width: 50px;height: 50px;}
.comments_section .prof_comment{float:left;line-height: 1.9em;width: 92%;padding:5px 0 20px 0;}
/*---------------------------------Photo Gallery Section------------------------------------------*/
.uk-tab li a{font-size: 18px;color:#000;font-weight:var(--my-font-weight);}
.uk-tab>.uk-active>a{border-color: var(--my-font-color);border-width: 4px;color: var(--my-font-color);}
.news_listing .news_featured:not(:first-child){margin-top: 5%;}
/*---------------------------Video landing Page----------------------------*/
.vid_li{box-shadow: 1px 1px 6px rgba(0,0,0,0.3);border-radius: 8px;}
.trending_videos_section{height:319px;overflow-y:auto;padding-top: 15px;}
.trending_videos_section h2{font-size: var(--my-font-size);border-bottom: 2px solid var(--my-font-color);color:var(--my-font-color);font-weight:var(--my-font-weight);padding-bottom: 10px;}
.trending_videos .trending_vid_each{margin-top: 4%!important;}
.trending_videos .trending_vid_each img{border-radius: 8px;}
.trending_videos .trending_vid_each p{font-size: var(--my-font-size);}
.trending_vid_each_row{padding-left: 10px;}
.now_playing_img{position: absolute;top:44%;left:30%;color:#fff;}
.blog_list{margin-top: 2%;padding:2%;}
.blog_list h2 span{color:#000!important;font-size: var(--my-font-size);}
.blog_list p{width: 100%;font-size: var(--my-font-size);}
.blog_list img{border: none;border-radius: 8px;}
.blog_tags{margin-top:1.9%;}
.blog_tags ul{padding-left: 0;list-style: none;}
.blog_tags ul li{display: inline;margin-right: 10px;font-size: 19px;font-weight:var(--my-font-weight);}
.blog_tags ul li a{text-decoration: none;color: var(--my-font-color);}
.blog_tags ul li:odd{color: #000;}
.vid_scroll{height:469px;overflow-y:auto;padding: 4px 10px;}
/*------------------------------------- notifications -----------------------------------------*/
.my_notifications ul{list-style: none;padding:0;border:2px solid #eee;border-radius: 8px;border-bottom: none;}
.my_notifications ul li{font-size: var(--my-font-size);padding:9px;border-bottom:2px solid #eee;padding:14px;line-height: 26px;}
.my_notifications ul li:first-child{font-weight: bold;}
.my_notifications ul li a{text-decoration: none;color: inherit;}
.my_notifications ul li a i{float: right;font-size:23px;color: #aaa;position: relative;top:3px;right: 4px;}
.my_notifications input{margin-right: 10px;}
.all_notifications{border:2px solid #eee;padding:4% 5% 0% 5%;border-radius: 8px;}
.all_notifications h1{font-size:var(--my-font-size);font-weight: bold;border-bottom:2px solid #eee;padding-bottom:10px;margin-bottom: 0;}
.all_notifications h1 i{font-size:24px;}
.notif_list{list-style: none;padding:0;}
.notif_list li{overflow: auto;padding-top: 12px;border-bottom: 2px solid #eee;}
.notif_list .notif_content{float:left;width:82%;}
.notif_list .notif_content .notif_text{margin-bottom: 0;}
.notif_list .notif_content .notif_time{margin-top: 10px;}
.notif_list .notif_content .notif_time i{font-size: 20px;color: var(--my-font-color);}
.notif_list .notif_img{float:right;width: 18%;}
/*------------------------topics css-------------------- */
.topic_featured h2{color:#000;border-bottom: 2px solid var(--my-font-color);padding-bottom:10px;font-size: var(--my-font-size);}
.topic_featured p{padding:0;}
/*--------------------search page css-------------------*/
.search_filters ul{list-style: none;font-size: var(--my-font-size)}
.search_filters ul li{display: inline;margin-right:5px;}
.search_filters ul li a{text-decoration: none;color: #000;}
.search_filters ul li a.active{font-weight: var(--my-font-weight)}
/*------------social share partial------------*/
.social_share{position: fixed;z-index: 1;left:0;top:60%;}
.social_share_bw{position: absolute;z-index: 1;right:-41px;top:340px;display:block;}
.article_feature:hover + .social_share_bw{display:block;}
.social_share_sec,.social_share_sec_bw{height:190px;width:41px;border-top-right-radius:6px;border-bottom-right-radius:6px;background-color: #fff;}
.social_share_sec .icon1,.social_share_sec_bw .icon1{left:3px;}
/*-------breaking news section css----------------*/
.scrollable_ht_16_9{height:346px;}
.scrollable_content h1{width: 65%;}
.scrollable_content h2{padding-bottom: 10px;}

.column_left{width:53.5%;}.column_right{width:46.5%;}

/* width */
.scroll_css::-webkit-scrollbar {
  width: 4px;
}
/* Track */
.scroll_css::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.scroll_css::-webkit-scrollbar-thumb {
  background: #ccc;
}
/* Handle on hover */
.scroll_css::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

@media screen and (max-width:1200px){
    .newsList_ht{height:83px;overflow:hidden;}
    .newsList_ht_1{height:79px;overflow:hidden;}
    .floated_section_title .read_more_section h6 a{padding:0 6px;}
    .my_notifications ul li{font-size: 16px;}
    .now_playing_img{top:17%;left: 32%;}

    .scrollable_ht_16_9{height:257px;}
    .news_featured .play_btn_div{top:22%;}

    .trending_videos_section{height: 209px;}
    .vid_scroll{height:348px;}
    .breaking_big{font-size: 16px!important;}
    .section_title h2,.floated_section_title .after_div h2{font-size: 19px;}
    .column_left{width:59%;}.column_right{width:41%;}

    .uk-slideshow-ht{height: 500px;}
}